/* ---------- all pages ---------- */ 

h4, body 
{ 
    font-family: "Arial Rounded MT Bold", Arial, sans-serif; 
}

p
{
    padding-top: 10px;
    font-size: 15pt;
}
img
{
    border: none;
    border-style: none;
}

a 
{
    outline: none;
}

a:hover, a:active, a:focus, a:link, a:visited           /* for firefox */
{
  outline: 0;                                   
  outline: 0 !important;
  outline-style:none;
  text-decoration: none;
}

li
{   
    padding-left: 0pt;
    padding-right: 10pt;
}


/* ---------- page connexion ---------- */ 

#login 
{
    display: block;    
}

#submitBtn
{
    text-align: center;
}

/* ---------- page accueil perso ---------- */

#logo_isep 
{ 
    padding-top: 20px; 
}

#logo_deconnexion 
{ 
    padding-top: 25px; 
}


/* menu trois barres */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
.menu-links {
  float: left;  
  padding-left: 0px;
}

.toggle-menu {
  float: right; 
}

.toggle-menu li {
  display: inline-block;
  float: left;
  list-style-type: none;
  text-align: left;
}

.toggle {
  padding-top: 5px;
  cursor: pointer;
}

li.toggle:hover span.toggle-menu-bar {
  background-color: #ddd;
}

.toggle-menu-bar {
  display: block;
  width: 25px;
  height: 4px;
  background-color: black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto 3px;
  transition: background-color 0.2s;
}


/* responsive */

@media screen and (min-width: 320px)
{
    h1 
    { 
        font-size: 22pt;
        font-weight: bold;
        padding-top: 25px;
        padding-bottom: 30px;
    }

    #titre_pages
    {
        font-size: 22pt;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 20px;
    }

    #logo_isep
    {
        width: 120px;
    }

    #logo_isep_pages
    {
        width: 80px;
        padding-top: 10px;
    }

    #logo_deconnexion
    {
        width: 40px;
    }

    #logo_deconnexion_pages
    {
        width: 30px;
        padding-top: 10px;
    }

    #menu_lateral
    {
        display: none; 
    }

    #menu_horizontal
    {
        display: none;
        padding-bottom: 25pt;
    }

    #menu_xs
    {
        display: block;
        padding-bottom: 20pt;
    }

    #cadre_contenu
    {
        padding-top: 0px;
        font-size: 6pt;
    }

    #panel_title
    {
        font-size: 12pt;
        font-weight: bold;
    }

    #upload_btn
    {
        text-align: center;
        display: inline-block;  
    }
}

@media screen and (min-width: 480px)
{
    h1 
    { 
        font-size: 26pt;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 40px;
    }

    #titre_pages
    {
        font-size: 26pt;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 30px;
    }

    #logo_isep
    {
        width: 130px;
    }

    #logo_deconnexion
    {
        width: 50px;
    }

    #menu_lateral
    {
        display: none; 
        font-size: 11pt;
    }

    #menu_horizontal
    {
        display: block;
        padding-bottom: 15pt;
    }

    #menu_xs
    {
        display: none;
    }

    #cadre_contenu
    {
        padding-top: 5px;
        font-size: 11pt;
    }

    #panel_title
    {
        font-size: 15pt;
        font-weight: bold;
    }

    #upload_btn
    {
        text-align: center;
        display: inline-block;
    }

    #contenu 
    {
        padding-top: 10pt;
    }
}

@media screen and (min-width: 780px)
{
    h1 
    { 
        font-size: 30pt;
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 80px;
    }

    #titre_pages
    {
        font-size: 30pt;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 30px;
    }

    #logo_isep
    {
        width: 180px;
    }

    #logo_deconnexion
    {
        width: 70px;
    }

    #menu_lateral
    {
        display: none;
    }

    #menu_horizontal
    {
        display: block;
        padding-bottom: 15pt;
    }

    #menu_xs
    {
        display: none;
    }

    #cadre_contenu
    {
        padding-top: 10px;
        font-size: 12pt;
    }

    #panel_title
    {
        font-size: 18pt;
        font-weight: bold;
    }

    #upload_btn
    {
        text-align: center;
        display: inline-block;
    
    }

    #contenu 
    {
        padding-top: 10pt;
    }
}

@media screen and (min-width: 992px)
{
    h1 
    { 
        font-size: 36pt;
        font-weight: bold;
        padding-top: 70px;
        padding-bottom: 90px;
    }

    #titre_pages
    {
        font-size: 36pt;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 0px;
    }

    #logo_isep
    {
        width: 180px;
    }

    #logo_deconnexion
    {
        width: 70px;
    }

    #menu_lateral
    {
        display: block;
        font-size: 11pt;
    }

    #menu_horizontal
    {
        display: none;
    }

    #menu_xs
    {
        display: none;
    }

    #cadre_contenu
    {
        padding-top: 50px;
        font-size: 12pt;
    }

    #panel_title
    {
        font-size: 18pt;
        font-weight: bold;
    }

    #upload_btn
    {
        text-align: center;
        display: inline-block;
    
    }

    #contenu 
    {
        padding-top: 10pt;
    }

    
  /* ---------- autres pages ---------- */  

    #logo_isep_pages
    {
        width: 120px;
        padding-top: 20px; 
    }
    
    #logo_deconnexion_pages
    {
        width: 50px;
        padding-top: 25px; 

    }


}




