/* ---------- all pages ---------- */ 

h4, body 
{ 
    font-family: "Arial Rounded MT Bold", Arial, sans-serif; 
}

p
{
    padding-top: 10px;
    font-size: 15pt;
}
img
{
    border: none;
    border-style: none;
}

a 
{
    outline: none;
}

a:hover, a:active, a:focus, a:link, a:visited           /* for firefox */
{
  outline: 0;                                   
  outline: 0 !important;
  outline-style:none;
}


/* ---------- page connexion ---------- */ 

#login 
{
    display: block;    
}

#submitBtn
{
    text-align: center;
}

/* ---------- page accueil perso ---------- */

#logo_isep 
{ 
    padding-top: 20px; 
}

#logo_deconnexion 
{ 
    padding-top: 25px; 
}


/* responsive */

@media screen and (min-width: 320px)
{
    h1 
    { 
        font-size: 22pt;
        font-weight: bold;
        padding-top: 25px;
        padding-bottom: 30px;
    }

    #titre_pages
    {
        font-size: 22pt;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    #logo_isep
    {
        width: 120px;
    }

    #logo_isep_pages
    {
        width: 80px;
    }

    #logo_deconnexion
    {
        width: 40px;
    }

    #logo_deconnexion_pages
    {
        width: 30px;
    }

    #menu_lateral
    {
        padding-top: 0px;
    }
}

@media screen and (min-width: 480px)
{
    h1 
    { 
        font-size: 26pt;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 40px;
    }

    #titre_pages
    {
        font-size: 26pt;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 30px;
    }

    #logo_isep
    {
        width: 130px;
    }

    #logo_deconnexion
    {
        width: 50px;
    }

    #menu_lateral
    {
        padding-top: 5px;
    }
}

@media screen and (min-width: 780px)
{
    h1 
    { 
        font-size: 32pt;
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 80px;
    }

    #titre_pages
    {
        font-size: 32pt;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 30px;
    }

    #logo_isep
    {
        width: 180px;
    }

    #logo_deconnexion
    {
        width: 70px;
    }

    #menu_lateral
    {
        padding-top: 10px;
    }
}

@media screen and (min-width: 992px)
{
    h1 
    { 
        font-size: 36pt;
        font-weight: bold;
        padding-top: 70px;
        padding-bottom: 90px;
    }

    #titre_pages
    {
        font-size: 36pt;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 0px;
    }

    #logo_isep
    {
        width: 180px;
    }

    #logo_deconnexion
    {
        width: 70px;
    }

    #menu_lateral
    {
        padding-top: 50px;
    }

    /* #logo_session
    {
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        transition: width 2s, height 2s, transform 2s;
    }

    #logo_session:hover
    {
        width: 100;
        height: 100;
        -webkit-transform: rotate(360deg); 
        transform: rotate(360deg);
    } */
  
  /* ---------- autres pages ---------- */  

    #logo_isep_pages
    {
        width: 120px;
        padding-top: 20px; 
    }
    
    #logo_deconnexion_pages
    {
        width: 50px;
        padding-top: 25px; 

    }


}


 /*
h1
{
    font-weight: bold;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    font-variant: normal;
    /*font-size: 38pt; 
    padding-bottom: 100px;
    padding-top: 80px;
}
*/




